# Опорные векторы и коэфициент сходства

Для работы нужен файл clouds.data.h5. Если нет в папке - запустить 26_image_preprocessing.ipynb

1. Построить модель опорных векторов для типа облака Fish
2. Сделать оценку качества по F1 и коэфициенту сходства

## Подключение библиотек

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import f1_score

## Загрузка данных

In [3]:
clouds = pd.read_hdf("../data/out/clouds.data.h5")
print(clouds.head())

    0   1    2    3    4    5    6    7    8    9  ...  183745  183746  \
0   0   0    0    0    0    0    0    0    0    0  ...     102     113
1  72  43   32   39   49   69   71   47   25   22  ...      38      58
2  97  98  100  102  105  107  109  110  111  112  ...       0       0
3  88  87   90   94   94   89   87   87   82   82  ...     166     164
4  18  19   21   21   21   20   18   17   15   16  ...     125     137

   183747  183748  183749        Image  \
0     102      96     117  0011165.jpg
1      83     111     134  002be4f.jpg
2       0       0       0  0031ae9.jpg
3     109      70      72  0035239.jpg
4      93      60      49  003994e.jpg

                                                Fish  \
0  264918 937 266318 937 267718 937 269118 937 27...
1  233813 878 235213 878 236613 878 238010 881 23...
2  3510 690 4910 690 6310 690 7710 690 9110 690 1...
3                                                NaN
4  2367966 18 2367985 2 2367993 8 2368002 62 2369...

                                              Flower  \
0  1355565 1002 1356965 1002 1358365 1002 1359765...
1  1339279 519 1340679 519 1342079 519 1343479 51...
2  2047 703 3447 703 4847 703 6247 703 7647 703 9...
3  100812 462 102212 462 103612 462 105012 462 10...
4                                                NaN

                                              Gravel  \
0                                                NaN
1                                                NaN
2                                                NaN
3  65400 380 66800 380 68200 380 69600 380 71000 ...
4  353317 416 354717 416 356117 416 357517 416 35...

                                               Sugar
0                                                NaN
1  67495 350 68895 350 70295 350 71695 350 73095 ...
2  658170 388 659570 388 660970 388 662370 388 66...
3                                                NaN
4  28011 489 29411 489 30811 489 32211 489 33611 ...

[5 rows x 183755 columns]

## Оставить данные только по Fish

In [4]:
clouds.drop(
    labels=[
        "Image",
        "Flower",
        "Gravel",
        "Sugar",
    ],
    axis=1,
    inplace=True,
)

## Разделить данные

In [5]:
clouds_train, clouds_test = train_test_split(clouds, test_size=0.2)
del clouds
print(clouds_train.head())

        0    1    2    3    4    5    6    7    8    9  ...  183741  183742  \
2612  148  151  154  156  157  155  153  151  137  133  ...      77      78
4836    0    0    1    1    1    1    1    1    7    0  ...      44      24
4080  202  159  113   98  105   91  101  167  136  126  ...      73      61
5541    9   35   51   47   50   61   55   37   24   63  ...     177     178
2667  217  216  212  211  219  223  196  156  158  145  ...      59      80

      183743  183744  183745  183746  183747  183748  183749  \
2612      78      78      76      77      78      79      79
4836      27      23      25      21      20      21      20
4080      75     126     145     143     149     131     125
5541     177     174     177     171     159     157     166
2667      82      91      88      78      55      40      45

                                                   Fish
2612  45095 367 46495 367 47895 367 49295 367 50695 ...
4836  471292 508 472692 508 474092 508 475492 508 47...
4080                                                NaN
5541  12631 4 12638 3 12649 16 13377 8 13395 13 1341...
2667                                                NaN

[5 rows x 183751 columns]